

#procedural .item-page-section{
    max-width: 80%;
}

#procedural-body .image-w-description--xlarge{
    width: fit-content;
    margin: auto;
   
    height: fit-content;
}

#procedural .image-w-description__media{
    max-height: 70vh;
}


@media (min-width: 800px){


    #procedural-body .image-w-description--xlarge{
    max-width: 50%;}

}


