*,
*::before,
*::after{
    box-sizing: border-box;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(5%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes fadeIn {
0% {
    opacity: 0;
}
50% {
    opacity: 0;
}
100%{
    opacity: 1;
}

}


/* Custom properties*/

:root{
   --ff-primary: 'Source Sans Pro', sans-serif;
   --ff-secondary: 'Source Code Pro', sans-serif;

   --fw-light: 300;
   --fw-reg: 400;
   --fw-semibold: 600;
   --fw-bold: 700;

   --clr-light: #fff;
   --clr-dark: #2a2a2a;
   --clr-accent-light: #ff756b;
   --clr-accent-very-light: #f8a49e;
   --clr-accent: #f57066;
   --clr-accent-dark: #823833;
   /**--clr-accent-light: #ff847c;**/

   --fs-h1:3rem;
   --fs-h2:2.25rem;
   --fs-h2-5: 1.6rem;
   --fs-h3:1.25rem;
   --fs-h4:1.2rem;
   --fs-body:1rem;

   --filter-clr: invert(52%) sepia(15%) saturate(2174%) hue-rotate(315deg) brightness(102%) contrast(87%);
   --filter-white: invert();

   --bs: .25em 0.25em 0.75em rgba(0, 0, 0, .25),
        .125em .125em 0.25em rgba(0, 0, 0, 0.15);

    --ts: 0.15em 0.15em 0.2em  rgba(0, 0, 0, 0.2),
          0.07em 0.07em 0.1em  rgba(0, 0, 0, 0.1);

    --header-height: max(7vh, 45px);
    --header-top-padding: 0.5em;
}

@media (min-width: 1100px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h2-5: 3rem;
        --fs-h3: 2.25rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
    
    animation: fadeIn 250ms ease-out;
}

strong{
    font-weight: var(--fw-bold);
}

section{
    padding: 5em 2em;
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn{
    display: flex;
    padding: 0 1.0em;
    margin: 0 auto;
    vertical-align: middle;

    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: var(--ff-primary) ;
    letter-spacing: 2px;
    font-weight: var(--fw-reg);
    transition: transform 200ms ease-in-out;

    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    width: fit-content;

    animation: fadeIn 250ms ease-out;
}


button, [type="button"], [type="reset"], [type="submit"] {
    
    border: none;
 }

.btn:hover{
    transform: scale(1.1);
}

@media (min-width: 1100px){
    .btn{
    font-size: 2rem;}
}

.webonly{
    display: none;
}

@media (min-width: 800px){
    .webonly{
        display: unset;
    }

    .mobileonly{
        display: none;
    }
}

/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}



.section__title{
    margin-bottom: .25em;
    text-align: center;
}

.section__title::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-dark);
    opacity: 0.25;
}

.section__title--work::after{
   
    background-color: var(--clr-light);
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
    color: var(--clr-accent);    
}


.section__subsubtitle{
    font-family: var(--ff-secondary);
}


.link{
    font-size: min(var(--fs-h4), 4vw);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    margin: 1em 0 1em;
    color:var(--clr-accent);
    text-decoration: none;
}

.link a{
    color: inherit;
    text-decoration: inherit;
}

.link:hover {
    opacity: 0.5;
    text-decoration: underline;
}





.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 800px){
    .footer__link{
        font-size: var(--fs-body);
    }

}









/* Images with desciption  */

.item-page-section{
    max-width: 1200px;
    margin: 0 auto;
}

.images-w-description
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 1em;
    align-items: stretch;
    text-align: center;
    justify-content: center;
}


/* .image-w-description + .image-w-description{
    margin-top: 3em;
} */


.image-w-description{
    display: inline-flex;
    overflow: hidden;
    max-width: 50%;
    justify-content: center;
    flex-direction: column;
}

/* .image-w-description:nth-of-type(2n){
    direction: rtl;
} */

.image-w-description__description{
    text-align: center;
    font-family: var(--ff-primary);
    order: 2;
}

.image-w-description__description p{
    display: none;
}

.image-w-description__img{
    background-color: var(--clr-light);
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    order:1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.image-w-description--large
{
    max-width: 100%;
}

.image-w-description--xlarge{
    max-width: 100%;
}

.image-w-description--large .image-w-description__description{
    text-align: right;
}

.image-w-description--large .image-w-description__img{
    max-width: 100%;
}

.section__subtitle--item-page-section{
    font-weight: var(--fw-reg);
    color: var(--clr-dark );
    padding-bottom: 0.1em;
}

.item-page__video{
    width: 100%;
}

.image-w-description__video{
    background-color: var(--clr-light);
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    order:1;
    max-height: 100%;
    max-width: 100%;
    
    width: 100%;
    height: 100%;
}

@media (min-width: 800px){
    .image-w-description__video{
        background-color: var(--clr-light);
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        transform: scale(1.01);
        transition: 
            transform 750ms cubic-bezier(.5, 0, .5, 1),
            opacity 250ms linear;
        margin-top: 0;
        margin-bottom: 0;
    }

    .image-w-description:hover .image-w-description__video
    {
        transform: scale(1.2);
        opacity: 0.1;
    }
}

@media (min-width: 800px){
    .images-w-description
    {
        
        row-gap: 0em;
    }


    .image-w-description{
        display: inline-block;
        background-color: var(--clr-dark);
        max-width: 25%;
        width: auto;
        min-height: 10vh;
        
        overflow: hidden;
        position: relative;
    }

    .image-w-description__description{
        text-align: left;
        z-index: 2;
        position: absolute;
        margin: 1em;
        pointer-events: none;
        transform: translateX(5vw);
        opacity: 0;
        transform-origin: right;
        transition: opacity 500ms cubic-bezier(.5, 0, .5, 1),
                    transform 500ms cubic-bezier(.5, 0, .5, 1);
        overflow: hidden;
        
    }

    .section__subtitle--item-page-section{
        font-size: var(--fs-body);
        color: var(--clr-light );
        font-weight: var(--fw-bold);
    }

    .image-w-description__description p{
        font-size: var(--fs-body);
        color: var(--clr-light);
        overflow: hidden;
        display: block;
    }
    
    .image-w-description__img{
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        transform: scale(1.01);
        transition: 
            transform 750ms cubic-bezier(.5, 0, .5, 1),
            opacity 250ms linear;
        margin-top: 0;
        margin-bottom: 0;
    }

    .image-w-description:hover .image-w-description__img
    {
        transform: scale(1.2);
        opacity: 0.1;
    }

    .image-w-description:hover .image-w-description__description
    {
        transform: translateX(0);
        opacity: 1;
    }

    .image-w-description--large{
        max-width: 50%;
    }

    .image-w-description--xlarge{
        max-width: 100%;
    }

    
    .image-w-description--large .image-w-description__description{
        text-align: left;
    }
/* 
    .image-w-description:nth-of-type(2n){
        direction: ltr;
    } */

}




/* 3D */
.item-page-section--amon-3d .section__subtitle{
    text-align: center;
}


@media (min-width: 800px){
    .item-page-section--amon-3d .section__subtitle{
        text-align: left;
    }
}

.item-page-section--amon-3d .images-w-description{
    row-gap: 5em;
}



/* Tech */
.item-page-section--amon-tech .image-w-description__description p{
    display: block;
}

.item-page-section--amon-tech .images-w-description{
    row-gap: 5em;
}




.item-page-section--amon-tech .section__subtitle{
    text-align: center;
}

.item-page-section--amon-tech .image-w-description__description{
    text-align: center;
}

.item-page-section--amon-tech .image-w-description--large .image-w-description__description{
    text-align: center;
}
@media (min-width: 800px){
    .item-page-section--amon-tech .images-w-description{
        row-gap: 0em;
    }

    .item-page-section--amon-tech .section__subtitle{
        text-align: left;
    }
    
    .item-page-section--amon-tech .image-w-description__description{
        text-align: left;
    }
    
    .item-page-section--amon-tech .image-w-description--large .image-w-description__description{
        text-align: left;
    }

}




/* Mood seed */
.item-page-home--moodseed{
    background-image: 
    none;
    background-color: transparent;
    background-position: 50%;
}


.item-page-home__background-video video{
    z-index: -100;
    background: url(../ressources/images/Games/MoodSeed/home__moodseed.png) no-repeat;
    background-size: cover;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: translateX(calc((100% - 100vw) / 2));
}

/* Domos */
.item-page-home--domos{
    background-image: 
    linear-gradient(to right, rgba(28, 9, 0, 0.651), rgba(0, 0, 0, 0) 30%, rgba(163, 163, 163, 0)),
    url(../ressources/images/Games/Domos/home__domos.png);
    background-color: black;
    background-position: 50%;
    
}


@media (min-width: 800px){

    .item-page-intro--domos .item-page-intro__description,
    .item-page-intro--sunkpearl .item-page-intro__description
    {
        grid-template-columns: 1.3fr 0.7fr;
        grid-template-areas:
        "video title" 
        "video body";
        column-gap: 1em;
    }

    .item-page-intro--moodseed .item-page-intro__description
    {
        display: block;
    }

    .item-page-intro--domos p{
        margin-top: 0;
    }

    
    .item-page-intro__video{
        grid-area: video;
    }

    .item-page-intro__body{
        grid-area: body;
    }

    .section__subtitle--item-page-intro{
        font-size: var(--fs-h2);
    }

    .item-page-intro__buttons{
        flex-direction: row;
    }

    .section__subsubtitle--item-page-intro{
        font-size: calc(var(--fs-h3)*0.8);
    }
}


/* SunkPearl */
.item-page-home--sunkpearl{
    background-image: 
    url(../ressources/images/Games/SunkPearl/home__sunkpearl.png);
    background-color: black;
    background-position: 50%;
}

/* Illustration */
.item-page-home--illustrations{
    background-image: none;
    background-color: black;
    min-height: auto;
}

.item-page-section--illustrations-body .image-w-description--xlarge{
    max-height: 80vh;
}

.item-page-section--illustrations-body .image-w-description--xlarge + .image-w-description--xlarge{
    margin: 2em;
}

.item-page-intro--moodseed{
    margin-top: 2em;
}

.item-page-intro__buttons--amon{
    margin-bottom: 2em;
}

.back-buttons{
    margin-top: 3em;
}


.item-page-home--vfx{
    background-image: none;
    background-color: black;
    min-height: auto;
}

.image-w-description__video--aphrodite{
    object-position: 5% 0;
    object-fit: fill;
}

.item-page__video{
    margin: 0.5em;
    width: 90%;
}
