*,
*::before,
*::after{
    box-sizing: border-box;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(5%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes fadeIn {
0% {
    opacity: 0;
}
50% {
    opacity: 0;
}
100%{
    opacity: 1;
}

}


/* Custom properties*/

:root{
   --ff-primary: 'Source Sans Pro', sans-serif;
   --ff-secondary: 'Source Code Pro', sans-serif;

   --fw-light: 300;
   --fw-reg: 400;
   --fw-semibold: 600;
   --fw-bold: 700;

   --clr-light: #fff;
   --clr-dark: #2a2a2a;
   --clr-accent-light: #ff756b;
   --clr-accent-very-light: #f8a49e;
   --clr-accent: #f57066;
   --clr-accent-dark: #823833;
   /**--clr-accent-light: #ff847c;**/

   --fs-h1:3rem;
   --fs-h2:2.25rem;
   --fs-h2-5: 1.6rem;
   --fs-h3:1.25rem;
   --fs-h4:1.2rem;
   --fs-body:1rem;

   --filter-clr: invert(52%) sepia(15%) saturate(2174%) hue-rotate(315deg) brightness(102%) contrast(87%);
   --filter-white: invert();

   --bs: .25em 0.25em 0.75em rgba(0, 0, 0, .25),
        .125em .125em 0.25em rgba(0, 0, 0, 0.15);

    --ts: 0.15em 0.15em 0.2em  rgba(0, 0, 0, 0.2),
          0.07em 0.07em 0.1em  rgba(0, 0, 0, 0.1);

    --header-height: max(7vh, 45px);
    --header-top-padding: 0.5em;
}

@media (min-width: 1100px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h2-5: 3rem;
        --fs-h3: 2.25rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
    
    animation: fadeIn 250ms ease-out;
}

strong{
    font-weight: var(--fw-bold);
}

section{
    padding: 4em 2em;
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn{
    display: flex;
    flex: 1 1 0;
    padding: 0.2em 1em;
    vertical-align: middle;

    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: var(--ff-primary) ;
    letter-spacing: 2px;
    line-height: 1em;
    font-weight: var(--fw-reg);
    transition: transform 200ms ease-in-out;

    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */


    animation: fadeIn 250ms ease-out;

    /*white-space: nowrap;*/    
    width: 100%;
    min-width: 0;
}


.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
}

@media (min-width: 800px){
    .buttons{
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        column-gap: calc(min(4em, 7vw - 1em));
    }

    .btn{
        width: auto;
        height: 100%;
    }
}

button, [type="button"], [type="reset"], [type="submit"] {
    
    border: none;
 }

.btn:hover{
    transform: scale(1.1);
}

@media (min-width: 1100px){
    .btn{
    font-size: 1.8rem;}
}

.webonly{
    display: none;
}

@media (min-width: 800px){
    .webonly{
        display: unset;
    }

    .btn.webonly{
        display: flex;
    }

    .mobileonly{
        display: none;
    }
}

/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}



.section__title{
    margin-bottom: .25em;
    text-align: center;
}

.section__title::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-dark);
    opacity: 0.25;
}

.section__title--work::after{
   
    background-color: var(--clr-light);
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
    color: var(--clr-accent);    
}


.section__subsubtitle{
    font-family: var(--ff-secondary);
}


.link{
    font-size: min(var(--fs-h4), 4vw);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    margin: 1em 0 1em;
    color:var(--clr-accent);
    text-decoration: none;
}

.link a{
    color: inherit;
    text-decoration: inherit;
}

.link:hover {
    opacity: 0.5;
    text-decoration: underline;
}











