/* Illustration */

#illustrations .item-page-section{
    max-width: 80%;
}

#illustrations-body .image-w-description--xlarge{
    width: fit-content;
    margin: auto;
   
    height: fit-content;
}

#illustrations .image-w-description__media{
    max-height: 75vh;}


@media (min-width: 800px){


    #illustrations-body .image-w-description--xlarge{
    max-width: 50%;
    }

}