

#procedural .item-page-section{
    max-width: 80%;
}

#procedural-body .image-w-description--xlarge{
    width: fit-content;
    margin: 0 auto;
   
    height: fit-content;
}

#procedural .image-w-description__media{
    max-height: 80vh;
}

#procedural-body .image-w-description--xlarge + .image-w-description--xlarge{
    margin: 2em auto;
}

@media (min-width: 800px){


    #procedural-body .image-w-description--xlarge{
    max-width: 50%;
}
}

