
.nav{
    font-size: var(--fs-h3);
}

.nav__link{
    font-weight: var(--fw-light);
}


@media (min-width: 800px){
    .nav{
        font-size: var(--fs-body);
    }
}


/* Header */

header{
    margin-top: .5em;
    color: var(--clr-light);
    display: block;
    justify-content: space-between;
    z-index: 100;
    padding: 0;
    width: 100%;
    position: fixed;
    top:0;
    transition: color 250ms cubic-bezier(.5, 0, .5, 1);
    pointer-events: none;
}

.header{
    min-width: 0;
}

.header__logos{
    pointer-events: none;
    width:100%;
    display: flex;
    justify-content: space-between;
}



.header__education-logos-list{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0 0;
    margin: 0;
}

.header__education-logo{
    margin: 0 0.5em 0;
}

.header__education-logo img {
    min-width: min(10vw, 60px);
    filter: var(--filter-white);
    transition: filter 250ms cubic-bezier(.5, 0, .5, 1);
}

#header-polytechnique-logo{
    min-width: min(8vw, 60px);
}

.nav{
    padding: 0;
    margin: 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
}

.nav--desktop{
    display: none;
}

.nav__list{
    list-style: none;
    display: flex;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 100%;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    margin:0.3em 0 0;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    
    transform-origin: top;
    transform: scaleY(0%);
    opacity: 0%;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1),
                opacity 250ms cubic-bezier(.8, 0, .6, 1);

    pointer-events: none;

}

.nav__link{
    color:inherit;
    text-decoration: none;
}

.nav__link:hover{
    color:var(--clr-accent);
}

.header__nav-toggle{
    display: flex;
    padding-right: 1em;
    pointer-events: auto;
    height: fit-content;
    margin: auto 0 auto;
}

.header__nav-toggle-button{
    color: inherit;
    font-size: inherit;
    background: transparent;
    border:0;
    padding:0;
    cursor: pointer;
}


.nav-open .nav__list{
    transform: scaleY(100%);
    opacity: 100%;
    pointer-events: auto;
}


.light-background header{
    color: var(--clr-accent);
}

.light-background .header__education-logo img {
    filter: var(--filter-clr);
}


@media (min-width: 800px){

    .nav{
        margin: 0.25em 0 0;
        width: auto;
    }

    .nav--desktop{
        display: inherit;
    }

    .nav--mobile{
        display: none;
    }

    .header__nav-toggle{
        display: none;
    }
    .nav__list{
        transform: scaleY(100%);
        opacity: 100%;
        margin-top: 0;
        flex-direction: row;
        align-items: start;
        background: none;
        color: inherit;
        pointer-events: auto;
    }

    .nav__item{
        margin: 0 0.5em 0;
    }
    .nav__link{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nav__link:hover{
        color:var(--clr-accent-light);
    }

    .light-background .nav__link:hover{
        color:var(--clr-accent);
    }
}

@media (min-width: 1100px){
    .nav__item{
        margin: 0 1em 0;
    }
}
