@font-face { font-family: Cabin-Regular; src: url('fonts/Cabin-Regular.ttf') } 
@font-face { font-family: Cabin-Bold; src: url('fonts/Cabin-Bold.ttf')} 
@font-face { font-family: SweetSansProMedium; src: url('fonts/SweetSansProMedium.otf') format("opentype"); } 
@font-face { font-family: SweetSansProLight; src: url('fonts/SweetSansProLight.otf') format("opentype"); } 
@font-face { font-family: Raleway; src: url('fonts/Raleway-VariableFont_wght.ttf')} 
  

body {
text-align: center;
width: 100%;
font-family: Raleway, Arial, sans-serif;
background-color: #3f3f3f;
padding: 0 !important;
margin: 0 !important;
}


/*White background*/
.whitebackground{
    display: inline-block;
    background-color: #ffffff;
    color: #3f3f3f;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.whitebackground h1{
    color: #3f3f3f;
    font: Cabin-Regular;
    font-weight:normal;
    font-size: xx-large;
}

.whitebackground section{
    display: inline;
    text-align: left;
}

.whitebackground p{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.whitebackground a:link{
    text-decoration: inherit;
}




.width-full{
    width:100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.width-40em{
    width: 40em;
}

.width-half{
    width: 50%;
}

.header{
    margin-top: 0em!important;
    margin-bottom: 0em!important;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #ffffff;
    background-color: #3f3f3f;
    margin-bottom: 4em;
    line-height: 80%;
}

.header h1 {
    margin:0;
    color: #ffffff;
    font-family: Cabin-Regular, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 250%; }


.header h2 {
        margin:0;
        padding-top:0;
        padding-bottom: 1em;
        color: #fba57e;
        font-family: SweetSansProMedium, Calibri, sans-serif;
        font-weight: normal;
        font-size: 180%; }
    

.header h3 {
    color: #fba57e;
    font-family: SweetSansProLight, Calibri, sans-serif;
    font-weight: normal; }



.header_banner {
    font-family: Cabin-Bold, sans-serif;
    background-color: #46a6d6;
    text-transform: uppercase;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 4em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 100%;
}
.header_banner li{
    display: inline-block;
    width: 25%;
}

.header_banner ol{
    margin: 0;
}

.header_banner a:link{
    color: rgb(230, 230, 230);
    text-decoration: inherit;
}

.header_banner a:hover{
    color: rgb(255,255,255)!important;
}

.header_banner a:visited{
    color: rgb(230, 230, 230);
}

.header_banner a:active{
    color: rgb(230, 230, 230);
}

#common_header{
    margin:0;
    padding-bottom:0;
    padding-top: 4em;
}

#loaded_header{
    margin:0;
    padding:0;
}

#common_footer{
    display: block;
    margin-top: 1em;
}